<%= @game.player_1.name %> vs <%= @game.player_2.name %>
<br>
<%= @game.player_1.name %>'s HP: <%= @game.player_1.hit_points %>   
<%= @game.player_2.name %>'s HP: <%= @game.player_2.hit_points %>
<br>
<% if @game.current_turn == @game.player_1 %>
  <%= @game.player_1.name %> attacked <%= @game.player_2.name %>
<% else %>
  <%= @game.player_2.name %> attacked <%= @game.player_1.name %>
<% end %>
<br>
<form action='/switch_players' method='post'>
  <input type='submit' value='OK'>
</form>
